@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");

body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
  cursor:url(../img/cursor.png), auto;
}


.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}


a:focus {
  text-decoration: none;
}


a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}


a,
button {
  color: #1F1F1F;
  outline: medium none;
}


h1, h2, h3, h4, h5 {
  font-family: "Muli", sans-serif;
  color: #001D38;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}


ul {
  margin: 0px;
  padding: 0px;
}


li {
  list-style: none;
}


p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}


label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


h3 {
  font-size: 24px;
}


.mb-65 {
  margin-bottom: 67px;
}


.black-bg {
  background: #020c26 !important;
}


.white-bg {
  background: #ffffff;
}


.gray-bg {
  background: #f5f5f5;
}


.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}


.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}


.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}


.overlay {
  position: relative;
  z-index: 0;
}


.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}


.overlay2 {
  position: relative;
  z-index: 0;
}


.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}


.overlay_03 {
  position: relative;
  z-index: 0;
}


.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}


.bradcam_overlay {
  position: relative;
  z-index: 0;
}


.bradcam_overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}


.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}


.pt-120 {
  padding-top: 120px;
}



.owl-carousel .owl-nav div {
  background: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 5px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #787878;
  left: 150px;
}


.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}


.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}


.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}


.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}


.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #615CFD;
  border: 1px solid transparent;
}


.mb-20px {
  margin-bottom: 20px;
}


.mb-55 {
  margin-bottom: 55px;
}


.mb-40 {
  margin-bottom: 40px;
}


.mb-20 {
  margin-bottom: 20px;
}


.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615CFD;
  letter-spacing: 3px;
  text-align: center;
  color: #615CFD !important;
  text-transform: uppercase;
  cursor: pointer;
}


.boxed-btn:hover {
  background: #615CFD;
  color: #fff !important;
  border: 1px solid #615CFD;
}


.boxed-btn:focus {
  outline: none;
}


.boxed-btn.large-width {
  width: 220px;
}


.boxed-btn3 {
  background: #615CFD;
  color: #fff;
  display: inline-block;
  padding: 14px 38px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


.boxed-btn3:hover {
  border: 1px solid #615CFD;
  color: #615CFD !important;
  background: transparent;
}


.boxed-btn3:focus {
  outline: none;
}


.boxed-btn3.large-width {
  width: 220px;
}


.boxed-btn4 {
  background: #615CFD;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}


.boxed-btn4:hover {
  background: #615CFD;
  color: #fff !important;
}


.boxed-btn4:focus {
  outline: none;
}


.boxed-btn4.large-width {
  width: 220px;
}


.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}


.boxed-btn3-white:hover {
  background: #28AE61;
  color: #fff !important;
  border: 1px solid transparent;
}


.boxed-btn3-white i {
  margin-right: 2px;
}


.boxed-btn3-white:focus {
  outline: none;
}


.boxed-btn3-white.large-width {
  width: 220px;
}


.boxed-btn3-green-2 {
  color: #615CFD !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615CFD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}


.boxed-btn3-green-2:hover {
  background: #615CFD;
  color: #fff !important;
  border: 1px solid transparent;
}


.boxed-btn3-green-2:focus {
  outline: none;
}


.boxed-btn3-green-2.large-width {
  width: 220px;
}


.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}


.boxed-btn2:focus {
  outline: none;
}


.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}


.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}


.line-button:hover {
  color: #009DFF;
}


.line-button:hover::before {
  background: #009DFF;
}


.line_btn {
  display: inline-block;
  font-size: 15px;
  color: #615CFD;
  border: 1px solid #615CFD;
  text-transform: capitalize;
  padding: 13px 34px;
  font-weight: 600;
}


.line_btn:hover {
  background: #615CFD;
  color: #fff;
}


.section_title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001D38;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  padding-top: 14px;
}


.section_title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #615CFD;
  content: '';
  left: 50%;
  bottom: 100%;
}


.section_title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #001D38;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
 
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
 
  .section_title h3 br {
    display: none;
  }
}


.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
 
  .section_title p br {
    display: none;
  }
}


.section_title.white_text h3 {
  color: #fff;
}


.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}


.section_title.white_text span:before {
  display: none;
}


.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
 
  .mb-50 {
    margin-bottom: 40px;
  }
}


.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}

@media (max-width: 767px) {
 
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area {
    padding-top: 0;
  }
}


.header-area .main-header-area {
  padding: 20px 200px;
  background: #fff;
  background: transparent;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area {
    padding: 10px 0px;
    background: #2C2C2C;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area {
    padding: 10px 15px;
    background: #2C2C2C;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}


.header-area .main-header-area.details_nav_bg {
  background: #727272;
  padding-bottom: 0;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area.details_nav_bg {
    padding-bottom: 10px;
  }
}


.header-area .main-header-area .logo {
  text-align: center;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area .logo {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area .logo {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .logo {
    text-align: left;
  }
}

@media (max-width: 767px) {
 
  .header-area .main-header-area .logo img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area .logo img {
    width: 70px;
  }
}


.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .header-area .main-header-area .Appointment .search_button {
    margin-right: 15px;
  }
}


.header-area .main-header-area .Appointment .search_button a i {
  color: #E8E8E8;
}


.header-area .main-header-area .Appointment .social_links ul li {
  display: inline-block;
}


.header-area .main-header-area .Appointment .social_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}


.header-area .main-header-area .Appointment .social_links ul li a:hover {
  color: #fff;
}


.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}


.header-area .main-header-area .Appointment .book_btn a {
  background: #6610f2;
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 50px;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}



.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #6610f2;
  border: 2px solid white;

}


.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}


.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}


.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Muli", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}


.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}


.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}


.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}


.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}


.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}


.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}


.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}


.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}


.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 990;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
  background: #000;
}

@media (max-width: 767px) {
 
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}


.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}


.header-area .main-header-area.sticky .header_bottom_border {
  border-bottom: none;
}


.header-area .main-header-area.sticky .header_bottom_border.white_border {
  border-bottom: none !important;
}


.header-area .header-top_area {
  padding: 12px 0;
  background: rgba(44, 44, 44, 0.5);
}

@media (max-width: 767px) {
 
  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}


.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #fff;
  margin-right: 12px;
}


.header-area .header-top_area .social_media_links a:hover {
  color: #28AE60;
}


.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {
 
  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}


.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}


.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 767px) {
 
  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}


.header-area .header-top_area .short_contact_list ul li a i {
  color: #28AE60;
  margin-right: 7px;
}


.header_bottom_border {
  border-bottom: 1px solid #4B4E50;
  padding-bottom: 22px;
}


.header_bottom_border.white_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
 
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
 
  .header_bottom_border.white_border {
    padding: 0;
    border-bottom: none !important;
  }
}

@media (max-width: 767px) {
 
  .header_bottom_border {
    padding: 0;
    border-bottom: none;
  }
}


.slider_bg_1 {
  background-image: url(../img/banner/banner.png);
}


.slider_bg_2 {
  background-image: url(../img/banner/banner2.png);
}


.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.slider_area .single_slider .shap_pattern {
  position: absolute;
  right: 20%;
  bottom: 0;
}


.slider_area .single_slider .social_links {
  position: absolute;
  right: 100px;
  z-index: 999;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .social_links {
    display: none;
  }
}


.slider_area .single_slider .social_links li {
  display: block;
  margin-bottom: 15px;
}


.slider_area .single_slider .social_links li a {
  width: 100px;
  height: 100px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.slider_area .single_slider .social_links li a::before {
  background: #615cfd;
  background: -moz-linear-gradient(top, #615cfd 0%, #d465ef 100%);
  background: -webkit-linear-gradient(top, #615cfd 0%, #d465ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#615cfd', endColorstr='#d465ef',GradientType=0 );
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.slider_area .single_slider .social_links li a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


.slider_area .single_slider .social_links li:last-child {
  margin-bottom: 0;
}


.slider_area .single_slider::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/about/man.png);
  width: 724px;
  height: 767px;
  content: '';
}

@media (max-width: 767px) {
 
  .slider_area .single_slider::before {
    width: 314px;
    height: 300px;
    content: '';
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider::before {
    width: 370px;
    height: 370px;
    content: '';
    background-size: cover;
  }
}


.slider_area .single_slider::after {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/about/cirlcle.png);
  width: 531px;
  height: 504px;
  content: '';
  z-index: -2;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider::after {
    display: none;
  }
} 

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider::after {
    width: 320px;
    height: 320px;
    content: '';
    z-index: -2;
    background-size: cover;
  }
}

@media (max-width: 767px) {
 
  .slider_area .single_slider {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider {
    height: 620px;
  }
}


.slider_area .single_slider .phone_thumb {
  position: relative;
  top: 110px;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .phone_thumb {
    top: 60px;
  }
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .slider_area .single_slider .phone_thumb img {
    width: 100%;
  }
}


.slider_area .single_slider .slider_text h3 {
  color: #FFF;
  font-family: "Muli", sans-serif;
  font-size: 80px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 9px;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .slider_area .single_slider .slider_text h3 br {
    display: none;
  }
}


.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .slider_area .single_slider .slider_text h3 {
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 55px;
  }
}


.slider_area .single_slider .slider_text span {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}


.slider_area .single_slider .slider_text span::before {
  position: absolute;
  background: #fff;
  width: 50px;
  height: 2px;
  content: '';
  left: -67px;
  top: 50%;
  margin-bottom: -1px;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .slider_area .single_slider .slider_text span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text span {
    font-size: 16px;
  }
}


.slider_area .single_slider .slider_text .video_service_btn > a {
  margin-right: 15px;
}

@media (max-width: 767px) {
 
  .slider_area .single_slider .slider_text .video_service_btn > a {
    margin-bottom: 20px;
  }
}


.about_me {
  padding-top: 75px;
  padding-bottom: 50px;
  position: relative;
}

@media (max-width: 767px) {
 
  .about_me {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .about_me {
    padding-bottom: 100px;
  }
}


.about_me .about_large_title {
  font-weight: 800;
  color: #F5F6F7;
  font-size: 235px;
  position: absolute;
  left: 21%;
  top: 0;
  line-height: 1;
}

@media (max-width: 767px) {
 
  .about_me .about_e_details {
    margin-bottom: 30px;
  }
}


.about_me .about_e_details h3 {
  font-size: 50px;
  font-weight: 700;
  color: #001D38;
}


.about_me .about_e_details p {
  font-size: 15px;
  font-weight: 400;
  color: #727272;
  margin-top: 20px;
  margin-bottom: 36px;
}


.about_me .about_img {
  position: relative;
}


.about_me .about_img .color_pattern {
  position: absolute;
  right: -80px;
  top: -123px;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
 
  .about_me .about_img .color_pattern {
    right: 0;
  }
}


.about_me .about_img .my_Pic img {
  width: 100%;
  margin-bottom: 50px;
}

@media (max-width: 775px) {
  .my_Pic{
  }
}


.project_area {
  padding-bottom: 150px;
}

@media (max-width: 767px) {
 
  .project_area {
    padding-bottom: 50px;
  }
}


.project_area .projects_thumb img {
  width: 100%;
}


.project_area .projects_info {
  padding-left: 68px;
}

@media (max-width: 767px) {
 
  .project_area .projects_info {
    padding-left: 0;
    margin: 20px 0;
  }
}


.project_area .projects_info h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 0;
}


.project_area .projects_info p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social_only{
  display : none;
}

@media (max-width: 767px) {
  .social_only{
    display: flex;
  }
}


.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #001D38;
}

@media (max-width: 767px) {
 
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}


.footer .footer_top .menu_links ul li {
  display: inline-block;
  margin-right: 46px;
}

@media (max-width: 767px) {
 
  .footer .footer_top .menu_links ul li {
    margin-right: 20px;
  }
}


.footer .footer_top .menu_links ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}


.footer .footer_top .menu_links ul li a:hover {
  color: #615CFD;
}


.footer .copy-right_text {
  padding-bottom: 30px;
  background: #001D38;
}


.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
  border-top: 1px solid #334A60;
}


.footer .copy-right_text .copy_right {
  font-size: 13px;
  color: #C7C7C7;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
 
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}


.footer .copy-right_text .copy_right a {
  color: #5DB2FF;
}


.footer .social_links {
  text-align: right;
}

@media (max-width: 767px) {
 
  .footer .social_links {
    text-align: left;
    margin-top: 30px;
  }
}


.footer .social_links ul li {
  display: inline-block;
}


.footer .social_links ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #FFFFFF;
  line-height: 40px !important;
  border: 1px solid #334A60;
  font-size: 15px;
}


.footer .social_links ul li a:hover {
  color: #fff !important;
  background: #615CFD;
  border: 1px solid #615CFD;
}



.testimonial_area {
  padding: 130px 0;
  background-image: url(../img/testmonial/banner.png);
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
}


.testimonial_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(0, 29, 56, 0) 0%, #001d38 100%);
  background: -webkit-linear-gradient(left, rgba(0, 29, 56, 0) 0%, #001d38 100%);
  background: linear-gradient(to right, rgba(0, 29, 56, 0) 0%, #001d38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001d38', endColorstr='#001d38',GradientType=1 );
  left: 0;
  top: 0;
  z-index: -1;
  content: '';
}

@media (max-width: 767px) {
 
  .testimonial_area {
    padding: 50px 0;
  }
}


.testimonial_area .single_testmonial p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 34px 0;
}

@media (min-width: 320px) and (max-width: 1500px) {
 
  .testimonial_area .single_testmonial p br {
    display: none;
  }
}


.testimonial_area .single_testmonial .testmonial_author .thumb {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  margin: auto auto 15px auto;
}


.testimonial_area .single_testmonial .testmonial_author h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}


.testimonial_area .single_testmonial .testmonial_author span {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}


.testimonial_area .owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}


.testimonial_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 0;
}


.testimonial_area .owl-carousel .owl-nav div {
  left: 0;
}


.discuss_projects {
  background: #001D38;
  padding: 50px 0 50px 0;
}

@media (max-width: 767px) {
 
  .discuss_projects {
    padding: 50px 0 0px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .discuss_projects {
    padding: 100px 0 50px 0;
  }
}


.discuss_projects .project_text h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 767px) {
 
  .discuss_projects .project_text h3 {
    font-size: 38px;
  }
}


.discuss_projects .project_text p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 12px;
}


.service_area {
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
 
  .service_area {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .service_area {
    padding-bottom: 50px;
  }
}


.service_area .single_service {
  padding: 48px 35px 45px 35px;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .service_area .single_service {
    padding: 30px 20px;
  }
}


.service_area .single_service h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2C2C2C;
  margin-top: 24px;
  padding-bottom: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .service_area .single_service h3 {
    font-size: 22px;
  }
}


.service_area .single_service p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}


.service_area .single_service:hover {
  border: 1px solid #615CFD;
}



.portfolio_area {
  background-image: url(../img/banner/portfolio_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 50px;
  padding-bottom: 340px;
}

@media (max-width: 767px) {
 
  .portfolio_area {
    padding-top: 60px;
  }
}


.portfolio_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001D38;
  content: '';
}


.portfolio_image_area {
  position: relative;
  margin-top: -295px;
}


.portfolio_image_area.dec_margin {
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
 
  .portfolio_image_area.dec_margin {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .portfolio_image_area.dec_margin {
    padding: 70px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
 
  .portfolio_image_area.dec_margin {
    padding: 100px 0;
  }
}


.portfolio_image_area .single_Portfolio {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}



.portfolio_image_area .single_Portfolio .portfolio_thumb img {
  width: 100%;
  height: 100%;
}


.portfolio_image_area .single_Portfolio .portfolio_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(97, 92, 253, 0.6);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}


.portfolio_image_area .single_Portfolio .portfolio_hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.portfolio_image_area .single_Portfolio .portfolio_hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}


.portfolio_image_area .single_Portfolio:hover .portfolio_hover {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}


.portfolio_image_area .more_portfolio {
  margin-top: 60px;
}


.portfolio_image_area .popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}


.footer .socail_links {
  text-align: right;
}

@media (max-width: 767px) {
 
  .footer .socail_links {
    text-align: left;
  }
}


.footer .socail_links ul li {
  display: inline-block;
}


.footer .socail_links ul li a {
  margin-bottom: 50px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  color: #615CFD;
  line-height: 40px !important;
  border: 2px solid #615CFD;
  font-size: 25px;
}


.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #615CFD;
  border: 1px solid #615CFD;
}
